@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 10px currentColor;
  }
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent scrolling if full screen canvas */
}
